#board {
    height: 85vh; 
    width: 90%; 
    display: inline-block; 
    position: relative;
}
.blankHp {
    background-color: none;
    color: black;
}

#bottom-board {
    height: 32%; 
    width: 72%; 
    left: 14%; 
    position: absolute; 
    top: 55%;
}

.bottom-button {
    height: 100%; 
    width: 50%;
}

.bottom-button:disabled {
    background-color: black;
    color: white;
}

#canvas {
    position: absolute; 
    height: 50vh; 
    width: 50%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.card-img {
    margin: .5%;
}

#coins {
    position: absolute; 
    bottom: 3%; 
    left: 88%; 
    height: 92%; 
    width: 6%; 
    border: black solid 5px;
}

.health-bar {
    height: 100%; 
    width: 2.5%; 
    background-color: green; 
    float: left; 
    text-align: center;
}

#health-helper {
    position: absolute; 
    color: black; 
    left: 1%;
}

#hpBar {
    color: #4CAF59;
    bottom: 2%; 
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 40%; 
    outline: black solid 5px; 
    text-align: left; 
    font-size: xx-large; 
    height:  6%;
}

.image {
    position: relative;
}

.in-top-info {
    font-size: xx-large; 
    bottom: 20%; 
    position: absolute; 
    color: white; 
    background-color: black;
    opacity: 60%; 
    height: 40%;
}

#Level {
    left: 60%;
}

.no-minion {
    height: 200px;
    width: 150px;
    border: gray 5px solid;
}

#Phase {
    left: 30%;
    height: auto;
    bottom: 0%;
    width: 27%;
}

#Round {
    left: 15%; 
}

#side-matter {
    height: 60%; 
    bottom: -5%; 
    width: 17%; 
    position: relative; 
    left: -5%; 
    text-align: right;
}

#side-matter > div {
    position: absolute; 
    width: 100%; 
    height: 20%;
}

.submitB {
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
}

table {
    position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 90%;
     width: 100%;
}
 
td a:hover {
     background: blue;
}

#top-board {
    height: 32%; 
    width: 72%; 
    left: 14%; 
    position: absolute; 
    top: 23%;
    text-align: center;
}

#top-info {
    top: 0%; 
    height: 15%; 
    position: relative;
}