/* body {
    background: grey;
} */

.main {
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.btn {
    font-size: 24pt;
    color: rgb(58, 6, 6);
}

.sub {
    margin-top: 45%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.info {
    padding-left: 50px;
    padding-top: 5px;
}

.about-card {
    padding: 5px;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: lightsalmon; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: darkslategray;
    border-color: darkslategray;
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}