.about-card {
    padding: 5px;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}

.back-ground {
    background: url('../static/images/bg/Sandbox.png');
    background-size: 100% 100%;
    height: 85vh;
    text-align: center;
}

.btn {
    font-size: 24pt;
    color: rgb(58, 6, 6);
    opacity: 100%;
}

.info {
    padding-left: 50px;
    padding-top: 5px;
}

.main {
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    background: whitesmoke;
    opacity: 80%;
}

.middle {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: lightsalmon; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: darkslategray;
    border-color: darkslategray;
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.sub {
    margin-top: 62vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background: whitesmoke;
    opacity: 90%;
    font-size: larger;
}